---
import { MenuIcon } from "lucide-react";
import { Button } from "../ui/button";
import MobileMenu from "../react/MobileMenu";
import BlindBox from "../react/BlindBox";
import { MOCK_FICS } from "@/data/mock-fics"; 

const {pathname} = Astro.url;

const links = [
  { href: "/", label: "Home" },
  { href: "/discover", label: "Discover" },
  { href: "/about", label: "About" },
];
---

<header id="site-header" class="fixed top-0 w-full z-50 transition-all duration-300 ease-in-out h-28">
  <div class="max-w-7xl mx-auto px-6 h-full flex items-center justify-between">
    <a href="/" class="flex items-center gap-2 font-serif font-bold text-xl text-white">
      <img id="header-logo" src="/images/kiramman_crest.png" alt="Kiramman family crest" width="56" height="56" class="size-11 object-contain p-1" />
      CaitVi Hub
    </a>

    <nav class="hidden md:flex items-center gap-8 text-sm font-sans uppercase tracking-[0.35em] text-white/70 border px-4 py-2 rounded-full">
      {links.map((link) => (
        <a href={link.href} class=`transition hover:text-white px-2 py-1 rounded-full ${pathname === link.href ? 'font-extrabold text-white' : ''}`>
          {link.label}
        </a>
      ))}
    </nav>

    <div class="flex items-center gap-3">
      <BlindBox client:load fics={MOCK_FICS} />
    </div>

    <!-- Mobile menu -->
    <MobileMenu client:load currentPath={pathname} links={links} />
  </div>
</header> 

<script>
  console.log('Header script loaded');

  const header = document.getElementById('site-header');
  const logo = header?.querySelector('#header-logo');
  
  window.addEventListener('scroll', () => {

    console.log('Scroll event triggered');
    if(window.scrollY > 50) {
      header?.classList.remove('h-28', 'bg-transparent');
      header?.classList.add('h-20', 'bg-primary/10', 'backdrop-blur-lg', 'shadow-lg');
    } else {
      header?.classList.add('h-28', 'bg-transparent');
      header?.classList.remove('h-24', 'bg-primary/10', 'backdrop-blur-lg', 'shadow-lg');
    }
  })
</script>